In [38]:

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
data = pd.read_csv('data_exam.txt',sep=',') #reading the data

data.head()

           x          y  z
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [39]:

w= np.ones(3) #setting w0,w1..
a= 0.01 #alpha
it=1000 #iterator = 1000 

x = data.iloc[0:70,0:2].values
x=(x-x.mean())/(x.std())
one_mat = np.ones([70,1])
x = np.concatenate((one_mat,x),axis=1) 
y = data.iloc[0:70,2].values
#.values converts it from pandas.core.frame.DataFrame to numpy.ndarray
# print(x)
# print(y)

In [79]:
# cost function
def find_cost(x,y,w):
    g=1/(1+np.exp(-1*x.dot(w)))
    sum=0
    for i in range(len(y)):
        valx=y[i]*np.log(g[i])+(1-y[i])*np.log(1-g[i])
        sum+=valx
    return sum/(-1*len(x))

def gd(x,y,w,it,a):
#     cost = np.zeros(it)
    x_trans = x.T
    for i in range(it):
        dif = (1/(1+np.exp(-1*x.dot(w))))- y
        grad = np.dot(x_trans, dif) / len(x)
        w= w-a*grad
#         cost[i] = find_cost(x, y, w)    
    return w #,cost

#calling gd function and find_cost function
weights= gd(x,y,w,it,a)
print("regression parameters: ",weights)
final_cost = find_cost(x,y,weights)
print("final cost: ",final_cost)

regression parameters:  [0.33437283 1.79529233 1.55890754]
final cost:  0.26399991761634845

In [80]:
# testing data
x1=data.iloc[70:101,0:2]
x1=(x1-x1.mean())/(x1.std())

one_mat = np.ones([30,1])
x1 = np.concatenate((one_mat,x1),axis=1)
gz=1/(1+np.exp(-1*(x1.dot(w))))
gz = [0 if x < 0.5 else 1 for x in gz]
print(gz)

[0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1]

In [81]:
y1=data.iloc[70:101,2].values
c=0
for i in range(0,30):
    if(gz[i]!=y1[i]):
        c=c+1        
print("Total errors:",c)

Total errors: 3

In [82]:
#using reguralization
#finding the cost function
lam=1000
w= np.ones(3)

# def find_cost(x,y,w):
#     g=1/(1+np.exp(-1*x.dot(w)))
#     val=y.dot(np.log(g))+(1-y)*(np.log(1-g))
#     return np.sum(val)/(-1*len(x))


def gd1(x,y,w,it,a):
#     cost = np.zeros(it)
    x_trans = x.T
    for i in range(it):
        dif = (1/(1+np.exp(-1*x.dot(w))))- y
        grad = np.dot(x_trans, dif) / len(x)
        w= w*(1-(a*lam/len(x)))-a*grad
#         cost[i] = find_cost(x, y, w)    
    return w #,cost

#calling gd function and find_cost function
weights= gd1(x,y,w,it,a)
print("regression parameters: ",weights)
final_cost = find_cost(x,y,weights)
print("final cost: ",final_cost)

regression parameters:  [0.00098387 0.02144946 0.01578903]
final cost:  0.6829156938533697

In [44]:
gz=1/(1+np.exp(-1*(x1.dot(w))))
gz = [0 if x < 0.5 else 1 for x in gz]
print(gz)

[0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1]

In [45]:
c=0
for i in range(0,30):
    if(gz[i]!=y1[i]):
        c=c+1        
print("Total errors:",c)

Total errors: 3